<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanatatea Corpului Tau!</title>
</head>
<body>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <div class="container">
        <h1>UN STIL DE VIATA SANATOS</h1>
        <h4>Adoptarea unui stil de viață activ și practicarea regulată a sportului aduc numeroase beneficii semnificative pentru sănătatea fizică și mentală. Exercițiile regulate contribuie la menținerea unei greutăți sănătoase, la întărirea sistemului cardiovascular și la îmbunătățirea funcțiilor musculare și articulare. În plus, activitatea fizică susține o stare de bine generală, stimulând eliberarea endorfinelor, cunoscute sub numele de "hormonii fericirii".</h4>
        <h4>Practica sportului are, de asemenea, un impact pozitiv asupra sănătății mentale. Reducerea stresului și anxietății, îmbunătățirea calității somnului și creșterea capacității de concentrare sunt doar câteva dintre beneficiile psihologice ale exercițiilor fizice regulate. Sportul nu doar întărește corpul, ci și mintea, oferind o modalitate eficientă de a gestiona presiunile vieții cotidiene.</h4>
        <h4>Un stil de viață sănătos, care include o alimentație echilibrată și activități fizice regulate, contribuie la prevenirea unor afecțiuni precum bolile de inimă, diabetul și obezitatea. Adoptând obiceiuri sănătoase, se pot îmbunătăți semnificativ nivelul de energie, sistemul imunitar și rezistența organismului la boli.</h4>
        <p class="motivational-text">Pentru inscriere va rugam completati formularul de mai jos:</p>

        <form action="/add" method="post">
            <label for="nume">Nume:</label>
            <input type="text" name="nume" required><br>

            <label for="prenume">Prenume:</label>
            <input type="text" name="prenume" required><br>

            <label for="adresa">Adresa:</label>
            <input type="text" name="adresa" required><br>

            <label for="nr_tel">Nr. Tel:</label>
            <input type="text" name="nr_tel" required><br>

            <button type="submit">Inscrie-te</button>
            <a href="{{ url_for('view') }}" class="view-button">Inscrisi</a>
        </form>
    </div>
</body>
</html>
